$base-color: #3eaf7c;
$light-color: #9cdcbb;
$base-gray: hsl(135, 5%, 90%);
$base-drop:#f6f6f6;
$text-color: #21362e;
$link-color: #3eaf7c;
$background-light: #fefefe;

$mq-sm: 576px;
$mq-md: 768px;
$mq-lg: 992px;
$mq-xl: 1200px;